.navigator> header {
    max-height: 5rem;
    overflow: hidden;
    border-bottom: dotted 1px #CCC;
    display: flex;
}

.navigator>header .avatar {
    justify-content: flex-start;
}

.navigator>header .frame {
    max-height: 6rem;
    max-width: 6rem;
}

.navigator> main {
    display: flex;
}

.navigator>footer {
    max-height: 7rem;
    overflow: auto;
    display: flex;
    position: relative;
    padding-top: 2rem;
    border-top: dashed 1px #CCC ;
}


.navigator>footer .frame {
    max-height: 6rem;
    max-width: 6rem;
}